.form{
    text-align: center;
    color: white;
    justify-content: space-between;
    padding: 2cm;
}

.botao{
    color: #049801;
    background-color: #fff;
    padding: 18px 28px;
    border-radius: 30px;
    cursor: pointer;
}

.botao:hover {
     background-color: #1DB954;
     color: white;
}

.body {
    background-color: rgb(26, 26, 26);
}


* {
  font-family: 'Inter', sans-serif;
}

footer {
  text-align: center;
  color: #049801;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  bottom: 0;
}

.navbar {
width: 100%;
height: 70px;
background: #000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 40px;
box-sizing: border-box;
position: fixed;
top: 0;
left: 0;
z-index: 999;
}


.logo {
display: flex;
align-items: center;
gap: 10px;
font-size: 22px;
font-weight: bold;
cursor: pointer;
}


.logo img {
width: 40px;
}


.menu {
display: flex;
gap: 25px;
align-items: center;
}


.menu a {
text-decoration: none;
color: #b3b3b3;
font-size: 16px;
transition: 0.3s;
}


.menu a:hover {
color: #fff;
}


/* BOTÃO CADASTRO */
.btn-cadastro {
background: #1db954;
padding: 10px 20px;
border-radius: 25px;
color: #000;
font-weight: bold;
text-decoration: none;
transition: 0.3s;
}


.btn-cadastro:hover {
background: #1ed760;
}


/* Espaço para visualizar a navbar fixa */
.content {
margin-top: 100px;
padding: 20px;
font-size: 22px;
}
